/* Reset Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
    padding: 0;
}

fieldset {
    border-left: 0;
    border-right: 0;
}

/* System Font Stack */
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Layout */
.container {
    display: grid;
    grid-template-rows: 1fr 9fr;
    min-height: 100vh;
}

.new-book-container {
    display: grid;
    place-items: center;
}

.new-book-form {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 1rem;
    align-content: flex-start;
}

/* Modal */
.modal {
    border: 2px solid black;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
}

.form-item {
    font-size: 1.1rem;
    font-weight: bold;
}

/* Book Container */
.book-container > * {
    border-radius: 10px;
    padding: 2rem;
    border: 1px solid black;
    min-width: 200px;
    height: max-content;
}

.book *:nth-child(n + 2) {
    margin-top: 1rem;
}